@using Services.Dto
@model List<CategoryDto>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="img-fluid p-1" src="@Url.Action("GetCategoryImage", "Media", new { path = item.ImagePath })" alt="@item.Name" />
                        <div class="card-body">
                            <h4 class="card-text fw-light" align="center">@Html.DisplayFor(modelItem => item.Name)</h4>
                            <div class="text-end mt-4">
                                @if (item.ParentCategoryId == null)
                                {
                                    <a class="btn btn-primary" asp-controller="Home" asp-action="EditRootCategory" asp-route-categoryId="@item.Id">Edit</a>
                                }
                                else
                                {
                                    <a class="btn btn-primary" asp-action="Edit" asp-route-categoryId="@item.Id">Edit</a>
                                }

                                <form class="d-inline-block" asp-action="Restore" asp-route-categoryId="@item.Id">
                                    <button type="submit" class="btn btn-secondary">Restore</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>            
            }
        </div>
    </div>
</div>
